[submodule "api"]
	path = api
	url = https://github.com/nrademacher/itemize-api.git

[submodule "client"]
	path = client
	url = https://github.com/nrademacher/itemize-client.git

[submodule "next-client"]
	path = next-client
	url = https://github.com/nrademacher/next-pulse-client
