[submodule "api"]
	path = api
	url = https://github.com/nrademacher/itemize-api.git

[submodule "client"]
	path = client
	url = https://github.com/nrademacher/itemize-frontend.git

[submodule "experimental-nuxt-client"]
	path = experimental-nuxt-client
	url = https://github.com/nrademacher/pulse-experimental-nuxt-client.git
